project-name = "my-project"
project-type = "executable"
main-module  = "Editor"
backend      = "c" # "c" or "arm64" or "amd64" or "llvm"
build        = "debug" # or "release"
verbose      = [
    "lexer",
    "parser",
    "sema",
    "codegen",
]


files = [
    "source/editor.aa",
    "source/highlight.aa",
    "source/interop.aa",
    "source/util.aa",
    "source/main.aa",

    # These don't work yet
    @windows "source/os/windows.aa",
    @linux   "source/os/linux.aa",
    @macos   "source/os/macos.aa",
]
